---
import BaseLayout from '../layouts/BaseLayout.astro';
import TopBanner from '../components/layout/TopBanner.astro';
import Navbar from '../components/layout/Navbar.astro';
import Hero from '../components/home/Hero.astro';
import Stats from '../components/home/Stats.astro';
import Testimonial from '../components/home/Testimonial.astro';
---

<BaseLayout>
	<TopBanner />
	<Navbar />
	<main>
		<Hero />
		<Stats />
		<Testimonial />
	</main>
</BaseLayout>
